.meta {
    padding: 10px 0;
    .title {
        display: inline;
    }
    .search-container {
        margin: 0 8px;
    }
}

.sort-button {
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }

    .chevron {
        font-size: xx-small;
    }
}

.even-row {
    background-color: #EDEDED;
}

.no-results {
    text-align: center;
}
